<div id="container-exp">
	<div id="trial">
		<h1>Conversation content!</h1>

		<div id="conversation"> </div>
		<div>Score out of 5 (ignore for the first sentence): <input type="number" id="user-score" name="user-score" min="1" max="5"> <input type="submit" id="submit-score" value="Submit"></div>
		<div><textarea id="user-context" rows="4" cols="50" placeholder="Your context goes here."> </textarea></div>
		<div><input type="submit" id="regenerate-response" value="Regenerate response"></div>
	</div>
</div>
